---
layout: default
title: Tags
permalink: /blog/tags/
---

{% assign has_tags = false %}
{% for tag in site.tags %}
    {% assign public_posts = tag[1] | where_exp: "post", "post.private != true" %}
    {% if public_posts.size > 0 %}
        {% assign has_tags = true %}
    {% endif %}
{% endfor %}

{% if has_tags %}
    <ul>
        {% for tag in site.tags %}
            {% assign public_posts = tag[1] | where_exp: "post", "post.private != true" %}
            {% if public_posts.size > 0 %}
                <li id="{{ tag[0] }}">
                    <b>{{ tag[0] }}</b>
                </li>
                {% for post in public_posts %}
                    {{ post.date | date:"%Y-%m-%d" }} &raquo; <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                    <br>
                {% endfor %}
                <br>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <div class="no-post">No tags yet.</div>
{% endif %}
